.NotFoundContainer {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-align: center;
  align-items: center;
  color: white;
}
